{
	"cronofykey": {
		"defaultValue": "",
		"dataType": "string",
		"description": "Key for cronofy"
	},
	"refreshTime": {
		"defaultValue": 100,
		"dataType": "integer",
		"description": "Refresh Time"
	},
	"calendarID": {
		"defaultValue": "",
		"dataType": "string",
		"description": "CalendarID"
	}
}